* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/pokemonbackground.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  img {
    width: 20vmin;
    margin: 0 auto;
  }
  
  h1, h2, h3, button {
    font-family: 'VT323', monospace;
  }
  
  button, input {
    display: block;
    font-size: 1rem;
    width: 30vmin;
    padding: 0.5vmin 1vmin;
  }

  button:hover {
    background: greenyellow;
  }
  
  button {
    background: white;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  #mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 60vmin;
    min-height: 25vmin;
    max-height: fit-content;
    border-bottom-width: 5px;
    border-top-width: 5px;
    border-style: double;
    border-radius: 5px;
    font-family: 'VT323', monospace;
    align-items: center;
    padding: 2vmin;
  }
  
  h3 {
    text-align: center;
    margin: 3vmin;
  }
  
  span {
    display: block;
    font-size: 1.2rem;
  }
  
  .textAnimation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    height: fit-content;
     overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  